<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Christian Payne</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

{{!-- Import local tailwind css --}}
  <link href="./css/dist.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

{{!-- Page background --}}
<body class="bg-gray-100">

{{!-- Nav Bar --}}
<nav class="bg-gray-900 p-1 flex justify-between items-center navbar">
  
  {{!-- Name --}}
  <h1 onclick="document.location='/'" class="text-3xl inline-block p-4 text-gray-100 hover:text-gray-100 ">Christian Payne</h1>

  <div class="">
    <a href="/the-frontend" class="text-xl inline-block p-4 mx-3 text-gray-100 hover:text-gray-300">The Front End</a>
    <a href="/the-api" class="text-xl inline-block p-4 mx-3 text-gray-100 hover:text-gray-300">The API</a>
    {{!-- <a href="/the-backend" class="text-xl inline-block p-4 mx-3 text-gray-100 hover:text-gray-300">The Back End</a> --}}

  </div>
</nav>

  {{{body}}}

</body>
</html>