<!-- Custom Icons -->
<link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">


<h1 class="text-center text-5xl mb-5 mt-2 font-semibold">
    The API
</h1>

<div class="text-center text-lg">
    <p class="text-3xl">
        Contact me!
    </p>

    <br><hr>



    <div class="text-white bg-gray-900">
        <div class="mx-6 rounded-full">
            <a class="fab fa-github m-2" href="https://github.com/ChristianPayne" target="_blank"> GitHub:</a>
            To take a look at my current and past projects, head on over to my GitHub.
        </div>
        <br>

        <div class="mx-6 rounded-full">
            <a class="fas fa-envelope m-2" href="https://www.linkedin.com/in/christianpayne522/" target="_blank"> LinkedIn:</a>
            Check out my LinkedIn for updated information or easy contact.
        </div>

        <br>

        <div class="mx-6 rounded-full">
            <a class="fas fa-envelope m-2" href="mailto:christianpayne522@gmail.com" target="_blank"> Email:</a>
            If you need to contact me directly, the best way is to get a hold of me by Email!
        </div>
        <br />

        <div class="mx-6 rounded-full">
            <h1 class="m-2" href="#"> Phone : (657) 234-1562</h1>
            If that doesn't work, hit me up over the phone, that should do the trick.
        </div>

        <div class="mx-6 rounded-full">
            <p class="m-2">Download my resume <a class="text-red-400" href="./assets/ChristianPayneResume_Template.pdf">here</a>.</p>
        </div>
    </div>
</div>