<h1 class="text-center text-5xl mb-5 mt-2 font-semibold">
    The Front End
</h1>

<main class="">
    <div class="grid grid-flow-row grid-cols-2 gap-10 m-5">

        {{#each projects as |project|}}
        {{>project-details}}
        {{/each}}

        {{!-- Genesis card --}}
        {{>gen-details}}

        {{!-- Hyundai card --}}
        {{>hyn-details}}
    </div>
</main>