<main>
        <!-- Item 1 -->
        <!-- Padding container for Item 1 -->
        <div class="portfolio-item container mt-4">
            <!-- Item 1 Header -->
            <div class="row">
                <h1>
                    Genesis Motors USA
                </h1>
            </div>
            <!-- Item 1 video -->
            <!-- For some reason, to show the video, the row has to be specified as row-12 -->
            <div class="row-12 p-4">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/400815212?color=ffeb10&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
            
            <!-- About the App -->
            <div class="row">
                <!-- Description Col -->
                <div class="col">
                    <h3>
                        About The App
                    </h3>
                        <p class="indent">
                            The Genesis Wheelstands were developed to add an interactive experience to the auto show floor. These apps had all the content needed to make sure the customer was well informed about the car they were looking at. There are a total of 5 different cars inside the same app that can be selected depending on what car the app is in front of.
                        </p>
                </div>
            </div>

            <!-- Development -->
            <div class="row">
                <!-- Description Col -->
                <div class="col">
                    <h3>
                        Development
                    </h3>
                        <p class="indent">
                            The development team behind the interactive experience was Related Grey, ARTS4ALL (A4A) and myself. The wheelstands were made using Unity3D and deployed on Surface tablets. They are still out and about at auto shows therefore are still being maintained and updated.
                        </p>
                </div>
            </div>
        </div>
        <!-- Item 1 End -->

        <!-- Item 2 -->
        <!-- Padding container for Item 2 -->
        <div class="portfolio-item container mt-4">
            <!-- Item 1 Header -->
            <div class="row">
                <h1>
                    Hyundai Motors USA
                </h1>
            </div>
            <!-- Item 1 video -->
            <!-- For some reason, to show the video, the row has to be specified as row-12 -->
            <div class="row-12 p-4">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/400817975?color=ffeb10&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
            
            <!-- About the App -->
            <div class="row">
                <!-- Description Col -->
                <div class="col">
                    <h3>
                        About The App
                    </h3>
                        <p class="indent">
                            Much like the Genesis Wheelstands, the Hyundai Wheelstands had all the cars in one app. This app has anywhere from 12-16 cars built into it that can be configured and displayed on the fly. Though each individual car is uniform with the others in terms of layout, they each have different images and spec sheets that are unique to the car on display.
                        </p>
                </div>
            </div>

            <!-- Development -->
            <div class="row">
                <!-- Description Col -->
                <div class="col">
                    <h3>
                        Development
                    </h3>
                        <p class="indent">
                            The development team behind the interactive experience was Related Grey, ARTS4ALL (A4A) and myself. The wheelstands were made using Unity3D and deployed on Surface tablets. They are still out and about at auto shows therefore are still being maintained and updated.
                        </p>
                </div>
            </div>
            
        </div>
        <!-- Item2 End -->
        
    </main>