.indent
{
    text-indent: 35px;
}

h1{
    /* font-family: 'Open Sans', sans-serif;
    font: bold; */
}

h2, h3, h4, p, a{
    /* font-family: 'Open Sans', sans-serif; */
    @apply font-mono
}

button:focus {
    outline: 0px;
}

a:link{
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: transparent;
  }

/* Note: I styled it this way based on HW01's implementation of a hero image. */
.hero-image{
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/site-images/Christian-Banner.jpg");
    background-size: cover;
    background-position: center;
}

.css-selector {
    background: linear-gradient(270deg, #ff5555, #ff9255);
    background-size: 400% 400%;

    -webkit-animation: RedOrangeFade 30s ease infinite;
    -moz-animation: RedOrangeFade 30s ease infinite;
    animation: RedOrangeFade 30s ease infinite;
}

@-webkit-keyframes RedOrangeFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes RedOrangeFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes RedOrangeFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}